<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      section ul {
        display: flex;
        gap: 40px;
      }
    </style>
  </head>
  <body>
    <%- include('header') %>

    <section class="report-section">
      <h1>Student Report Card</h1>

      <%# ejs comments %>
      <!-- this is html comments -->

      <ul>
        <% student.map((student) => { %>
        <li>
          <p>Name: <%= student.name %></p>
          <p>Education: <%= student.education %></p>
          <p>Skill Subject: <%= student.skill %></p>
        </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
